.github/**
.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
media/** 
test/**
scripts/**
markdown_for_debug/**
SECURITY.md
assets/dev_structure.webp
assets/logo.svg
assets/logo_icon.svg
assets/logo_icon.webp
.gitignore
.yarnrc
esbuild.js
esbuild-test.js
parserPlugin.js
*.vsix
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/prettier.config.mjs
**/release.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
README_DEV.md
DEMO.md
