.github/**
.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
media/** 
test/**
.gitignore
.yarnrc
esbuild.js
esbuild-test.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/prettier.config.mjs
**/release.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
README_DEV.md
DEMO.md